* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.01);
  transition: 0.2s;
}
